<ion-view hide-nav-bar="true" class="bg-login">
  <ion-content class="padding opacity-bg">
    <div class="pre-login">
      <div class="logo">
        <h1>Trip Helper</h1>
        <p>The most excting travel experience</p>
      </div>
      <div class="button-group">
        <button class="btn" ui-sref="welcome.signin">Sign In</button>
        <button class="btn" ui-sref="welcome.signup">Sign Up</button>
      </div>
      <div class="terms">
        By Signin up, I agree to Trip Helper Term of Service, Privacy Policy
      </div>
    </div>
  </ion-content>
</ion-view>
